#submit {
  margin: 80px 0 35px;
  border: none;
  padding: 1.2rem 2rem;
  text-align: center;
  /* aujustement commun des font */
  font-family: roboto;
  font-size: 1.3rem;
  font-weight: bold;
  /* commun au bouton type submit */
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), color-stop(95%, #9356DC));
  background: linear-gradient(to bottom, #FF79DA 0%, #9356DC 95%);
  border-radius: 30px;
  color: white;
  -webkit-box-shadow: 5px 5px 5px #eaeaea;
          box-shadow: 5px 5px 5px #eaeaea;
}

body {
  margin: auto;
  /* aujustement commun des font */
  font-family: roboto;
  font-size: 1.3rem;
  font-weight: 400;
}

header {
  min-height: 65px;
  text-align: center;
}

header img {
  width: 165px;
  margin-top: 3%;
  margin-bottom: 2%;
}

@media screen and (min-width: 1025px) {
  header img {
    width: 320px;
    margin-top: 1%;
    margin-bottom: 1%;
  }
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  min-height: 195px;
  padding-bottom: 10px;
  background-color: #353535;
  color: white;
}

footer p {
  margin-top: -1rem;
  /* ajustement commun lier a la forme */
  width: 86.66667%;
  margin-left: 5.33333%;
  text-align: left;
}

footer > h4 {
  /* aujustement commun des font */
  font-family: "Shrikhand";
  font-size: 1.5rem;
  font-weight: 200;
  /* ajustement commun lier a la forme */
  width: 86.66667%;
  margin-left: 5.33333%;
  text-align: left;
}

#icone--rotate {
  -webkit-transform: rotate(-45deg) scale(0.8);
          transform: rotate(-45deg) scale(0.8);
  margin-left: -2%;
  margin-right: 4%;
}

/* pour aligner le texte des 2 icones */
#icone--margin {
  margin-right: 5%;
}

@media screen and (min-width: 678px) {
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    min-height: 100px;
    padding-bottom: 10px;
    background-color: #353535;
  }
  footer p {
    /* ajustement commun lier a la forme */
    width: 18.66667%;
    margin-left: 5.33333%;
    text-align: left;
  }
  footer h4 {
    width: 100%;
  }
}

@media screen and (min-width: 1025px) {
  footer h4 {
    margin-top: 0.6rem;
  }
}

.recherche {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  min-height: 340px;
  padding-bottom: 0;
  background-color: #f6f6f6;
  text-align: center;
}

.recherche__btn {
  background: -webkit-gradient(linear, left top, left bottom, from(#cfcfcf), color-stop(15%, #eaeaea));
  background: linear-gradient(to bottom, #cfcfcf 0%, #eaeaea 15%);
}

.recherche__btn--localisation {
  margin: 10px 0;
  border: none;
  padding: 0.7rem 2.5rem;
  text-align: center;
  /* aujustement commun des font */
  font-family: roboto;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: #eaeaea;
}

.recherche__description {
  /* ajustement commun lier a la forme */
  width: 86.66667%;
  margin-left: 5.33333%;
  text-align: center;
  height: 144px;
}

.explicatif {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  min-height: 440px;
  padding-bottom: 60px;
  background-color: unset;
}

.explicatif > h2 {
  /* ajustement commun lier a la forme */
  width: 86.66667%;
  margin-left: 5.33333%;
  text-align: left;
  margin-top: 0.5rem;
}

.explicatif__fonction {
  height: 75px;
  /* ajustement commun lier a la forme */
  width: 86.66667%;
  margin-left: 5.33333%;
  text-align: left;
  /* ajustement commun lie a la couleur */
  background-color: #f6f6f6;
  border-radius: 20px;
  -webkit-box-shadow: 5px 5px 5px #eaeaea;
          box-shadow: 5px 5px 5px #eaeaea;
  position: relative;
}

.explicatif p {
  margin-top: 8%;
  /* aujustement commun des font */
  font-family: roboto;
  font-size: 1rem;
  font-weight: bold;
}

.explicatif i {
  color: #9356DC;
  padding: 0 25px 0 35px;
}

.resultats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 1225px;
  padding-bottom: 60px;
  background-color: #f6f6f6;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
}

.resultats > h2 {
  /* ajustement commun lier a la forme */
  width: 86.66667%;
  margin-left: 5.33333%;
  text-align: left;
}

.resultats__contenu, .resultats__contenu--nouveau {
  /* ajustement commun lier a la forme */
  width: 86.66667%;
  margin-left: 5.33333%;
  text-align: left;
  /* ajustement commun lie a la couleur */
  background-color: white;
  border-radius: 20px;
  -webkit-box-shadow: 5px 5px 5px #eaeaea;
          box-shadow: 5px 5px 5px #eaeaea;
  height: 255px;
  overflow: hidden;
  position: relative;
}

.resultats__contenu--imgfit, .resultats__contenu--nouveau--imgfit {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: 0 -20px;
     object-position: 0 -20px;
}

.resultats__contenu--imgfit.--pospotrait, .resultats__contenu--nouveau--imgfit.--pospotrait {
  -o-object-position: 0 -200px;
     object-position: 0 -200px;
}

.resultats__contenu--layoutdescr, .resultats__contenu--nouveau--layoutdescr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  position: absolute;
  top: 100;
  bottom: 0;
  left: 0;
  font-size: 1.2rem;
  width: 100%;
  height: 31%;
  background-color: white;
  line-height: 0.7rem;
  padding-left: 15px;
}

.resultats__contenu--nouveau::after, .resultats__contenu--nouveau--nouveau::after {
  content: "Nouveau";
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  position: absolute;
  top: 5%;
  bottom: 82%;
  left: 70%;
  font-size: 1rem;
  padding: 0.4rem;
  border-radius: 2px;
  background-color: #99E2D0;
  color: #1e6856;
}

.resultats i {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  position: absolute;
  top: 30%;
  bottom: 35%;
  left: 80%;
  font-size: 1.7rem;
}

@media screen and (min-width: 678px) {
  #submit {
    margin-top: 10px;
  }
  .explicatif {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    min-height: 200px;
    padding-bottom: 40px;
    background-color: unset;
  }
  .explicatif__fonction {
    /* ajustement commun lier a la forme */
    width: 26.66667%;
    margin-left: 2.66667%;
    text-align: center;
  }
  .explicatif > h2 {
    /* ajustement commun lier a la forme */
    width: 92%;
    margin-left: 2.66667%;
    text-align: left;
    margin-top: 2rem;
  }
  .explicatif i {
    padding: 0 15px 0 15px;
  }
  .resultats {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    min-height: 655px;
    padding-bottom: 60px;
    background-color: #f6f6f6;
  }
  .resultats > h2 {
    /* ajustement commun lier a la forme */
    width: 92%;
    margin-left: 2.66667%;
    text-align: left;
  }
  .resultats__contenu, .resultats__contenu--nouveau {
    /* ajustement commun lier a la forme */
    width: 42.66667%;
    margin-left: 2.66667%;
    text-align: left;
  }
}

@media screen and (min-width: 1025px) {
  body {
    max-width: 1440px;
  }
  .recherche {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    min-height: 130px;
    padding-bottom: 0;
    background-color: #f6f6f6;
    min-height: unset;
  }
  .recherche__description {
    /* ajustement commun lier a la forme */
    width: 53.33333%;
    margin-left: 5.33333%;
    text-align: left;
  }
  .recherche__btn {
    width: 100%;
    height: 60px;
  }
  .recherche__btn--validation {
    /* ajustement commun lier a la forme */
    width: 40%;
    margin-left: 0%;
    text-align: center;
    margin-top: 20px;
  }
  .explicatif {
    min-height: unset;
  }
  .explicatif p {
    margin-top: 8%;
  }
  .resultats {
    min-height: unset;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .resultats__contenu, .resultats__contenu--nouveau {
    /* ajustement commun lier a la forme */
    width: 24%;
    margin-left: 0%;
    text-align: left;
  }
  .resultats__contenu--imgfit, .resultats__contenu--nouveau--imgfit {
    -o-object-position: 0 0px;
       object-position: 0 0px;
  }
  .resultats__contenu--imgfit.--pospotrait, .resultats__contenu--nouveau--imgfit.--pospotrait {
    -o-object-position: 0 -60px;
       object-position: 0 -60px;
  }
}
/*# sourceMappingURL=main.css.map */