/* mise en page bloc et ssbloc */
body {
  max-width: 678px;
  margin: auto;
  font-family: roboto;
  font-size: 1.3em;
}

header {
  height: 65px;
  text-align: center;
}

header img {
  width: 35%;
  margin-top: 3%;
}

footer {
  border: 2px dashed green;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 195px;
  padding-top: 20px;
  background-color: #353535;
}

footer p {
  border: 2px dashed red;
  margin-top: -2rem;
  color: white;
  width: 86.66667%;
  margin-left: 5.33333%;
}

footer .footer__logo {
  border: 2px dashed blue;
  margin-bottom: 2rem;
  width: 86.66667%;
  margin-left: 5.33333%;
}

footer .footer__logo--white {
  -webkit-filter: invert(1);
          filter: invert(1);
  width: 100px;
}

.accueil__nav {
  border: 2px dashed green;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: #f6f6f6;
  height: 340px;
}

.accueil__nav .__btn__localisation {
  width: 100%;
  height: 50px;
  background: -webkit-gradient(linear, left top, left bottom, from(#cfcfcf), color-stop(15%, #eaeaea));
  background: linear-gradient(to bottom, #cfcfcf 0%, #eaeaea 15%);
}

.accueil__nav .__description {
  border: 2px dashed red;
  width: 86.66667%;
  margin-left: 5.33333%;
  height: 144px;
  padding: 45px 0 0;
}

#localisation {
  background-color: red;
  margin-left: 220px;
  margin-top: 20px;
}

#explorer {
  background-color: red;
  margin-left: 220px;
}

.accueil__aside {
  border: 2px dashed green;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 440px;
}

.accueil__aside .__titre {
  border: 2px dashed blue;
  width: 86.66667%;
  margin-left: 5.33333%;
}

.accueil__aside .__liste {
  border: 2px dashed red;
  width: 86.66667%;
  margin-left: 5.33333%;
  background-color: #f6f6f6;
}

.accueil__main {
  border: 2px dashed green;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  height: 1225px;
  padding-bottom: 60px;
  background-color: #f6f6f6;
}

.accueil__main .__titre {
  border: 2px dashed blue;
  width: 86.66667%;
  margin-left: 5.33333%;
}

.accueil__main .__restaurant {
  width: 86.66667%;
  margin-left: 5.33333%;
  border: 2px dashed red;
  height: 255px;
}
/*# sourceMappingURL=main.css.map */