footer{
    @include border(green);
    @include flex (column, nowrap, space-around);
    height: 195px;
    color: $text_bouton;
    padding-top: 20px;
    background-color: $color_bg_footer;
    & p {
        @include border(red);
        margin-top: -2rem;
        @include largeur (325px);
    }
    & .footer__logo{
        @include border(blue);
        margin-bottom: 2rem; 
        @include largeur (325px);
        
        &--white{
        filter: invert(1);
        width: 100px;
        }
    }
}
