footer{
    @include border(green);
    @include flex (column, nowrap, space-around);
    height: 195px;
    color: $text_bouton;
    background-color: $color_bg_footer;
    padding-bottom: 10px;
    & p {
        @include border(red);
        margin-top: -1rem;
        @include largeur (325px);
    }
    h4{
        font-family: 'Shrikhand', cursive;
        font-size: 1.5rem;
        @include largeur (325px);
    }
}
