header {
  min-height: 65px;
  text-align: center;
  & img {
    @include box_width (165px, 5% 0, center);
  }
}
#logo_ohmyfood--index {
  animation: logo_header 400ms 2000ms both ease-out;
}

@include laptop {
  header {
    & img {
      @include box_width (90px, 1% 1%, center);
    }
  }
}


@keyframes logo_header {
  0% {
    opacity: 0;
    transform: translateY(150px) translateX(-50px) scale(0.2);
}

100% {
    transform: translateY(0px) scale(1);
    opacity: 1;
}
}