@include tablette {

  .explicatif {
    @include flex_layout (row, wrap, space-around);
    @include box_height (200px, 40px, $color_box);

    &__fonction {
      @include box_width(100px, 0 10px, center);
    }
    & > h2 {
    @include box_width(345px, 30px 10px, left);
    }
    & i {
      padding: 0 15px 0 15px;
      margin-left: unset; 
    }
  }

  .resultats {
    @include flex_layout (row, wrap, space-around);
    @include box_height (655px, 40px, $color_background);
    & > h2 {
      @include box_width(345px, 30px 10px, left);
    }
    &__contenu, &__contenu--nouveau {
      @include box_width (160px, 0 10px, left);
    }
  }
}

@include laptop {
  body {
    max-width: 1440px;
  }

  .recherche {
    @include flex_layout (row, wrap, space-between);
    @include box_height (130px, 0, $color_background);
    min-height: unset;
    &__description {
      @include box_width (180px, 0 58px, left);
    }
    &__btn {
      width: 100%;
      height: 60px;
    }
    &__btn--validation {
      @include box_width (150px, 0px 0px 10px, center);
    }
  }

  .explicatif {
    min-height: unset;
    & p {
      margin-top: 8%;
    }
  }

  .resultats {
    min-height: unset;
    justify-content: flex-start;

    &__contenu, &__contenu--nouveau {
      @include box_width(85px, 0px 7px 15px, left);

    }
  }
}
