@include tablette {
  header {
    > a {
    @include position_absolue(45px, 0px, 80px, 3rem);
    }
  }

  main {
    @include flex_layout (row, wrap, flex-start);
    align-items: flex-start;
  }
  .presentation {
    width: 50%;
    height: 390px;

    & h1 {
      padding-top: 10px;
    }
  }
  .entrees,
  .plats,
  .desserts {
    width: 50%;
  }
  .menu .menu--prix {
    &::after{
      right: -100px;
    }
    &::before{
      right: -80px;
    }
  }

  .btn-bloc {
    margin: auto;
    width: 100%;
  }
}

@include laptop {
  header {
    > a {
      top: 15px;
    }
  }
  .presentation {
    width: 100%;
    margin: auto;
    height: 300px;

    &--fitpaysage {
      @include img_ajust_width (-300px);
      height: unset;
    }

    &__restaurant {
      width: 40%;
    }
  }

  .jaime--menu{
    left: 30%;
    top: 83%;
  }
  
  .entrees,
  .plats,
  .desserts {
    width: 33.3%;
    padding-top: 20px;
  }
}



