
.conteneur {
    width: 350px;
    height: 200px;
    display: flex;
    flex: column;
border: 2px solid green;  
}

.barre1{
    width: 83%;
    background-color: red;
    transition: 1s;
}

.barre1:hover{
    width: 65%;
}

.barre2 {
    width: 17%;
    background-color: blue;
}

@keyframes test1 {
    0% {
        width: 83%;
    }
    100%{
        width: 65%;
    }
}
