/* aujustement commun des font */
/* aujuster les sousbloc en flex grace a width et margin */
/* pour tous les elements utilisant position absolue */
/* ajustement des images */
/* ajustement bloc dans l'image en absolue */
/* mixin bouton */
/* commun au bouton type submit */
.submit {
  font-family: roboto;
  font-size: 1rem;
  font-weight: bold;
  background: linear-gradient(to bottom, #FF79DA 0%, #9356DC 95%);
  border-radius: 40px;
  color: white;
  box-shadow: 5px 5px 5px #eaeaea;
  cursor: pointer;
}
.submit--explorer {
  margin: 30px 0 35px;
  border: none;
  padding: 1.2rem 2rem;
  text-align: center;
}
.submit--commander {
  margin: 45px 0 65px;
  border: none;
  padding: 1.2rem 5.2rem;
  text-align: center;
}

body {
  margin: auto;
  font-family: roboto;
  font-size: 17px;
  font-weight: 400;
}

a {
  color: black;
}

header {
  min-height: 65px;
  text-align: center;
}
header img {
  width: 44%;
  margin: 3% 2%;
  text-align: center;
}

@media screen and (min-width: 1025px) {
  header img {
    width: 24%;
    margin: 1% 1%;
    text-align: center;
  }
}
footer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  min-height: 195px;
  padding-bottom: 10px;
  background-color: #353535;
  color: white;
}
footer p {
  width: 86.6666666667%;
  margin: 0px 20px;
  text-align: left;
}
footer > h4 {
  font-family: "Shrikhand";
  font-size: 1.2rem;
  font-weight: 200;
  width: 86.6666666667%;
  margin: 20px 20px;
  text-align: left;
}

#icone--rotate {
  transform: rotate(-45deg) scale(0.8);
  margin-left: -1%;
  margin-right: 4%;
}

/* pour aligner le texte des 2 icones */
#icone--margin {
  margin-right: 5%;
}

@media screen and (min-width: 666px) {
  footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 100px;
    padding-left: 20px;
  }
  footer p {
    width: 18.6666666667%;
    margin: 0 20px;
    text-align: left;
  }
  footer h4 {
    width: 100%;
  }
}
@media screen and (min-width: 1025px) {
  footer > h4 {
    margin-top: 0.8rem;
  }
  footer > p {
    margin-top: -1rem;
  }
}
.recherche {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  min-height: 340px;
  padding-bottom: 0;
  background-color: #f6f6f6;
  text-align: center;
}
.recherche > h1 {
  font-size: 1.5rem;
}
.recherche__btn {
  background: linear-gradient(to bottom, #cfcfcf 0%, #eaeaea 15%);
}
.recherche__btn > i {
  margin-left: 70px;
}
.recherche__btn--localisation {
  margin: 10px 0;
  border: none;
  padding: 0.7rem 2.5rem 0.7rem 1rem;
  text-align: left;
  font-family: roboto;
  font-size: 1.1rem;
  font-weight: bold;
  width: 225px;
  background-color: #eaeaea;
}
.recherche__description {
  width: 82.6666666667%;
  margin: auto;
  text-align: center;
}

.explicatif {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  min-height: 440px;
  padding-bottom: 60px;
  background-color: unset;
}
.explicatif > h2 {
  width: 86.6666666667%;
  margin: 20px 20px;
  text-align: left;
}
.explicatif__fonction {
  height: 75px;
  width: 86.6666666667%;
  margin: 0 20px;
  text-align: left;
  background-color: #f6f6f6;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #eaeaea;
  position: relative;
}
.explicatif__fonction--1::before {
  content: "1";
  color: white;
  text-align: center;
  background-color: #9356DC;
  padding: 4px 8px;
  border-radius: 20px;
  box-sizing: content-box;
  position: absolute;
  top: 26px;
  bottom: 26px;
  left: -12.5px;
  font-size: 0.8rem;
}
.explicatif__fonction--2::before {
  content: "2";
  color: white;
  text-align: center;
  background-color: #9356DC;
  padding: 4px 8px;
  border-radius: 20px;
  box-sizing: content-box;
  position: absolute;
  top: 26px;
  bottom: 26px;
  left: -12.5px;
  font-size: 0.8rem;
}
.explicatif__fonction--3::before {
  content: "3";
  color: white;
  text-align: center;
  background-color: #9356DC;
  padding: 4px 8px;
  border-radius: 20px;
  box-sizing: content-box;
  position: absolute;
  top: 26px;
  bottom: 26px;
  left: -12.5px;
  font-size: 0.8rem;
}
.explicatif__fonction:hover i {
  color: #9356DC;
}
.explicatif p {
  margin-top: 9%;
  font-family: roboto;
  font-size: 1rem;
  font-weight: bold;
}
.explicatif i {
  padding: 0 25px 0 35px;
  margin-left: 10px;
}

.resultats {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  min-height: 1225px;
  padding-bottom: 60px;
  background-color: #f6f6f6;
  align-items: space-between;
}
.resultats > h2 {
  width: 86.6666666667%;
  margin: 20px 20px;
  text-align: left;
}
.resultats__contenu, .resultats__contenu--nouveau {
  width: 89.3333333333%;
  margin: 0 20px;
  text-align: left;
  background-color: white;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #eaeaea;
  height: 255px;
  overflow: hidden;
  position: relative;
}
.resultats__contenu--imgfit, .resultats__contenu--nouveau--imgfit {
  width: 100%;
  object-fit: contain;
  object-position: 0 -20px;
}
.resultats__contenu--imgfit.--potrait, .resultats__contenu--nouveau--imgfit.--potrait {
  object-position: 0 -200px;
}
.resultats__contenu--layoutdescr, .resultats__contenu--nouveau--layoutdescr {
  box-sizing: content-box;
  position: absolute;
  top: 100;
  bottom: 0;
  left: 0;
  font-size: 1.2rem;
  width: 100%;
  height: 31%;
  background-color: white;
  line-height: 0.7rem;
  padding-left: 15px;
}
.resultats__contenu--nouveau::after, .resultats__contenu--nouveau--nouveau::after {
  content: "Nouveau";
  box-sizing: content-box;
  position: absolute;
  top: 5%;
  bottom: 82%;
  left: 70%;
  font-size: 1rem;
  color: #1e6856;
  text-align: center;
  background-color: #99E2D0;
  padding: 0.4rem;
  border-radius: 2px;
}
.resultats i {
  box-sizing: content-box;
  position: absolute;
  top: 30%;
  bottom: 35%;
  left: 80%;
  font-size: 1.7rem;
}
.resultats i:hover {
  background-color: white;
}

header > a {
  box-sizing: content-box;
  position: absolute;
  top: 2%;
  bottom: 0%;
  left: 20px;
  font-size: 1.2rem;
  color: black;
}

.presentation {
  height: 310px;
  overflow: hidden;
  position: relative;
}
.presentation--fitpaysage {
  height: 100%;
  object-fit: contain;
  object-position: -50px -30px;
}
.presentation--fitportrait {
  width: 100%;
  object-fit: contain;
  object-position: 0 -30px;
}
.presentation__restaurant {
  box-sizing: content-box;
  position: absolute;
  top: 100;
  bottom: 0px;
  left: 0;
  font-size: 1.2rem;
  width: 100%;
  height: 31%;
  background-color: #f6f6f6;
  line-height: 4rem;
  padding-left: 0px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  width: 100%;
}
.presentation__restaurant > h1 {
  font-family: Shrikhand;
  font-size: 1.5rem;
  font-weight: 300;
  margin-left: 20px;
}
.presentation__restaurant > i {
  box-sizing: content-box;
  position: absolute;
  top: 38%;
  bottom: 0%;
  left: 80%;
  font-size: 1.7rem;
}

.entrees, .plats, .desserts {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  min-height: 310px;
  padding-bottom: 10px;
  background-color: #f6f6f6;
}
.entrees > h2, .plats > h2, .desserts > h2 {
  width: 10.6666666667%;
  margin: 20px;
  text-align: left;
  font-family: roboto;
  font-size: 1.1rem;
  font-weight: 300;
  padding-bottom: 8px;
  border-bottom: 4px solid #99E2D0;
}
.entrees > form, .plats > form, .desserts > form {
  width: 93.3333333333%;
  margin: 0 12px;
  text-align: left;
}

label {
  background-color: white;
  border-radius: 15px;
  box-shadow: 5px 5px 5px #eaeaea;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  position: relative;
  padding-left: 10px;
  margin-bottom: 15px;
}
label .menu--descriptif {
  border: solid 2px green;
  width: 80%;
}
label .menu--descriptif h3 {
  font-size: 1rem;
}
label .menu--descriptif p {
  font-size: 1rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-top: -0.5rem;
}
label .menu--prix {
  width: 60px;
  position: absolute;
  left: 85%;
  padding-top: 10%;
  /* pour ne pas bouger la box en Y pour animation */
}

input[name=choix] {
  position: relative;
  margin-left: 0px;
}

input[name=choix]::before {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  background-color: blue;
  top: 0px;
  left: 20px;
}

input[name=choix]:checked::before {
  margin-right: 0.5em;
  background-color: red;
}

.btn-bloc {
  background-color: #f6f6f6;
  text-align: center;
}

@media screen and (min-width: 666px) {
  .explicatif {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    min-height: 200px;
    padding-bottom: 40px;
    background-color: unset;
  }
  .explicatif__fonction {
    width: 26.6666666667%;
    margin: 0 10px;
    text-align: center;
  }
  .explicatif > h2 {
    width: 92%;
    margin: 30px 10px;
    text-align: left;
  }
  .explicatif i {
    padding: 0 15px 0 15px;
    margin-left: unset;
  }

  .resultats {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    min-height: 655px;
    padding-bottom: 40px;
    background-color: #f6f6f6;
  }
  .resultats > h2 {
    width: 92%;
    margin: 30px 10px;
    text-align: left;
  }
  .resultats__contenu, .resultats__contenu--nouveau {
    width: 42.6666666667%;
    margin: 0 10px;
    text-align: left;
  }
}
@media screen and (min-width: 1025px) {
  body {
    max-width: 1440px;
  }

  .recherche {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 130px;
    padding-bottom: 0;
    background-color: #f6f6f6;
    min-height: unset;
  }
  .recherche__description {
    width: 48%;
    margin: 0 58px;
    text-align: left;
  }
  .recherche__btn {
    width: 100%;
    height: 60px;
  }
  .recherche__btn--validation {
    width: 40%;
    margin: 0px 0px 10px;
    text-align: center;
  }

  .explicatif {
    min-height: unset;
  }
  .explicatif p {
    margin-top: 8%;
  }

  .resultats {
    min-height: unset;
    justify-content: space-around;
  }
  .resultats__contenu, .resultats__contenu--nouveau {
    width: 24%;
    margin: 0px 0px;
    text-align: left;
  }
  .resultats__contenu--imgfit, .resultats__contenu--nouveau--imgfit {
    object-position: 0 0px;
  }
}
@media screen and (min-width: 666px) {
  header > a {
    box-sizing: content-box;
    position: absolute;
    top: 25px;
    bottom: 0%;
    left: 80px;
    font-size: 3rem;
  }

  main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .presentation {
    width: 50%;
    order: 1;
    height: 380px;
  }
  .presentation h1 {
    padding-top: 10px;
  }

  .entrees,
.plats,
.desserts {
    width: 50%;
  }

  .entrees {
    order: 3;
  }

  .plats {
    order: 2;
  }

  .desserts {
    order: 4;
  }

  .menu--prix {
    width: 60px;
    position: absolute;
    left: 85%;
    padding-top: 5%;
  }

  .btn-bloc {
    order: 5;
    margin: auto;
    width: 100%;
  }
}
@media screen and (min-width: 1025px) {
  header > a {
    display: none;
  }

  .presentation {
    width: 100%;
    margin: auto;
    order: 1;
    height: 300px;
  }
  .presentation--fitpaysage {
    width: 100%;
    object-fit: contain;
    object-position: 0 -300px;
    height: unset;
  }
  .presentation__restaurant {
    width: 40%;
  }

  .entrees,
.plats,
.desserts {
    width: 33.3%;
    padding-top: 20px;
  }

  .entrees {
    order: 2;
  }

  .plats {
    order: 3;
  }
}

/*# sourceMappingURL=style.css.map */
