@mixin animation_repas ($pseudo) {
  &:#{$pseudo} + .menu > .menu--descriptif {
    @include animation_composition (descriptif_in);
  }
  &:#{$pseudo} + .menu > .menu--prix::after {
    @include animation_composition (after_in);
  }
  &:#{$pseudo} + .menu > .menu--prix::before {
    @include animation_composition (icone_in);
  }
  &:not(:#{$pseudo}) + .menu > .menu--descriptif {
    @include animation_composition (descriptif_out);
  }
  &:not(:#{$pseudo}) + .menu > .menu--prix::after {
    @include animation_composition (after_out);
  }
  &:not(:#{$pseudo}) + .menu > .menu--prix::before {
    @include animation_composition (icone_out);
  } 
}

@mixin animation_composition ($name) {
    animation: $name 800ms both ease-in-out;
  }

  @keyframes descriptif_in {
    from {
        width: 83%; 
    }
    to{
        width: 65%;
    }
  }
  @keyframes descriptif_out {
    from {
        width: 65%; 
    }
    to{
        width: 83%;
    }
  }
  @keyframes after_in {
    from {
      width: 0px;
        transform: translateZ(0);
    }
    to{
      width: 80px;
        transform: translateZ(1px);
    }
  }
  @keyframes after_out {
    from {
      width: 80px;
        transform: translateZ(1px);
    }
    to{
      width: 0px;
        transform: translateZ(0);
    }
  }
  @keyframes icone_in {
    0% {
        
        transform: translateX(0px) rotateZ(180deg) ;
    }
    100%{
        transform: translateX(-35px) rotateZ(0);
    }
  }
  @keyframes icone_out {
    0% {
        
        transform: translateX(-35px) rotateZ(0) ;
    }
    100%{
        transform: translateX(0px);
    }
  }

/* Animation au chargement des pages menu */
/* Si ajout d'un plat: ajout dans $delay, changement through X */
  @mixin loading_menu {
  @for $i from 1 through 4 {
      &--#{$i} {
        animation: loading_menu 1s both;
        animation-delay: map-get($delay, $i);
      }
    }
  }

  $delay:(1:200ms, 2:350ms, 3:500ms, 4:650ms);
  
  @keyframes loading_menu {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


  