  @mixin animation_btn_jaime ($etat){
    &::after {
      @include import_icone(900);
      content: "\f004";
      @include position_absolue(1px, 0, 0px, 1.6rem);
      opacity: 0;
      transition: opacity 400ms ease-out;
    }
    &:#{$etat}::after {
      opacity: 1;
      @include degrade_color($primary, 0%, $secondary, 95%);
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
    }
  }/* efface le coeur vide pour faire apparaitre le coeur plein dont 2 animations */

  @mixin animation_btn_submit($col_shad) {
    transition: 150ms ease-out;
    &:hover {
      box-shadow: 5px 5px 5px darken($col_shad, 30%);
      filter: brightness(1.1);
    }
  }