/* Animation corps page pour apparition */

@mixin load-home {
    animation: load-home 250ms 2300ms forwards ease-in-out;
}
.recherche, .explicatif, .resultats, footer {
    opacity: 0;
      @include load-home;
    }

@keyframes load-home {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
  }

  /* Animation header deplacement pour position final */
  #logo_ohmyfood--index {
    animation: logo_header 400ms 2400ms both cubic-bezier(0.42, 0, 0.24, 1.26);
  }
  @keyframes logo_header {
    0% {
      opacity: 0;
      transform: translateY(225px) translateX(-60px) scale(0.2);
  }

  100% {
      transform: translateY(0px) scale(1);
      opacity: 1;
  }
  }

  /* Animation du loader */
.loader {
    @include position_abs_top_left (35%, 20%);
    width: 60%;
    @include flex_layout (row, wrap, space-between);
    border: 2px solid $col_degrade_fonce;
    @include box_contour (unset, 5px, $col_degrade_fonce);
    animation: loader-out 300ms 2400ms both ease-in;
 
    > div {
        @include position_width (47%, 5% 1% 5%);
    }

    & .logo1 {
        width: 100%;
    }
    & .logo2{
        @include position_width (40%, 10% 30%);
        animation: logo2 400ms 200ms forwards ease-out;
    }
    & .logo3{
        @include position_width (80%, 0% 10%);
        transform: rotate(-180deg);
        animation: logo3 400ms 600ms forwards ease-in-out;
    }
    & .logo4{
        @include position_width (100%, 5% -2%);
        animation: logo4 400ms 1000ms both ease-in;
    }
}
/* Animation du logo1, creation d'un after pour animer le texte */
.contain_logo {
    position: relative;
    width: 30%;
    &::after{
        content: "OHMYFOOD";
        @include font("Shrikhand", 0.8rem, 200);
        color: $text_footer;
        @include position_abs_top_left (60%, 10%);
        opacity: 0;
        animation: logo1 2400ms forwards ease-in-out;
    }
}

@keyframes logo1 {
    0% {
        opacity: 0;
    }
    20%{
        opacity: 1;
        transform: translateY(0);
    }
    90% {
        transform: translateY(10px);
        opacity: 1;
    }
    100% {
        transform: translateY(-50px);
        opacity: 0;
    }
}

@keyframes logo2 {
    0% {
        transform: translateY(0px) scale(1);
    }
    80% {
        transform: translateY(-10px) scale(1.1);
    }
    100%{
        transform: translateY(10px);
    }
}

@keyframes logo3 {
    0% {
        transform: rotate(-180deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes logo4 {
    0% {
    background: radial-gradient(ellipse at center, rgba(255, 255, 0, 0.4) 15%, rgba(255, 196, 0, 0.4) 30%, white 30%);
    }
    100% {
    background: radial-gradient(ellipse at center, rgba(255, 255, 0, 1) 15%, rgba(255, 196, 0, 1) 30%, white 70%);
    }
}

@keyframes loader-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@include tablette {
    .loader {
        @include position_width(35%, 5% 12%);
    }
    .contain_logo {
        &::after{
            font-size: 1rem;
            margin-left: 4%;
        }
    }
}

@include laptop {
    .loader {
        @include position_width(25%, 0% 17%);
    }
    .contain_logo {
        &::after{
            font-size: 1.2rem;
            margin-left: 4%;
        }
    }
}



