/* Animation des plats sur l'etat btn input choix  */
.menu {
  & > .menu--descriptif {
    transition: all 800ms ease-in-out;
  }
  & > .menu--prix::after {/* la boite verte en pseudo element */
    content: "";
    position: absolute;
    top: 0px;
    right: -65px; /* a changer en responsive */
    height: 200px;
    background-color: $third;
    width: 0px;
    transform: translateZ(0);
    transition: all 800ms ease-in-out;
  }
  & > .menu--prix::before { /* icone en pseudo element */
    @include import_icone(900);
    content: "\f058";
    color: white;
    background-color: $third;
    transform: rotate(180deg);
    z-index: 2;
    @include position_absolue(35%, unset, unset, 1.6rem);
    right: -75px; /* a changer en responsive */
    transform: translateX(0px) rotateZ(180deg);
    transition: all 800ms ease-in-out;
  }
}

@mixin animation_repas($pseudo, $tranico) {
  &:#{$pseudo} + .menu > .menu--descriptif {
    width: 65%;
  }
  &:#{$pseudo} + .menu > .menu--prix::after {
    width: 80px;
    transform: translateZ(1px);
  }
  &:#{$pseudo} + .menu > .menu--prix::before {
    transform: translateX($tranico) rotateZ(0);
  }
}

/* Animation au chargement des pages menu */
/* Si ajout d'un plat: ajout dans $delay, changement through X */
@mixin loading_menu {
  @for $i from 1 through 4 {
    &--#{$i} {
      animation: loading_menu 1s both;
      animation-delay: map-get($delay, $i);
    }
  }
}

$delay: (
  1: 200ms,
  2: 350ms,
  3: 500ms,
  4: 650ms,
);

@keyframes loading_menu {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
