@charset "UTF-8";
/* aujustement commun des font */
/* aujuster les sousbloc en flex grace a width et margin */
/* pour tous les elements utilisant position absolue */
/* ajustement des images */
/* ajustement bloc dans l'image en absolue */
/* mixin bouton */
/* commun au bouton type submit */
/* Animation corps page pour apparition */
.recherche, .explicatif, .resultats, footer {
  opacity: 0;
  animation: load-home 250ms 2300ms forwards ease-in-out;
}

@keyframes load-home {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* Animation header deplacement pour position final */
#logo_ohmyfood--index {
  animation: logo_header 400ms 2400ms both cubic-bezier(0.42, 0, 0.24, 1.26);
}

@keyframes logo_header {
  0% {
    opacity: 0;
    transform: translateY(225px) translateX(-60px) scale(0.2);
  }
  100% {
    transform: translateY(0px) scale(1);
    opacity: 1;
  }
}
/* Animation du loader */
.loader {
  position: absolute;
  top: 35%;
  left: 20%;
  width: 60%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  border: 2px solid #cfcfcf;
  background-color: unset;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #cfcfcf;
  animation: loader-out 300ms 2400ms both ease-in;
}
.loader > div {
  width: 47%;
  margin: 5% 1% 5%;
}
.loader .logo1 {
  width: 100%;
}
.loader .logo2 {
  width: 40%;
  margin: 10% 30%;
  animation: logo2 400ms 200ms forwards ease-out;
}
.loader .logo3 {
  width: 80%;
  margin: 0% 10%;
  transform: rotate(-180deg);
  animation: logo3 400ms 600ms forwards ease-in-out;
}
.loader .logo4 {
  width: 100%;
  margin: 5% -2%;
  animation: logo4 400ms 1000ms both ease-in;
}

/* Animation du logo1, creation d'un after pour animer le texte */
.contain_logo {
  position: relative;
  width: 30%;
}
.contain_logo::after {
  content: "OHMYFOOD";
  font-family: "Shrikhand";
  font-size: 0.8rem;
  font-weight: 200;
  color: white;
  position: absolute;
  top: 60%;
  left: 10%;
  opacity: 0;
  animation: logo1 2400ms forwards ease-in-out;
}

@keyframes logo1 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
    transform: translateY(0);
  }
  90% {
    transform: translateY(10px);
    opacity: 1;
  }
  100% {
    transform: translateY(-50px);
    opacity: 0;
  }
}
@keyframes logo2 {
  0% {
    transform: translateY(0px) scale(1);
  }
  80% {
    transform: translateY(-10px) scale(1.1);
  }
  100% {
    transform: translateY(10px);
  }
}
@keyframes logo3 {
  0% {
    transform: rotate(-180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes logo4 {
  0% {
    background: radial-gradient(ellipse at center, rgba(255, 255, 0, 0.4) 15%, rgba(255, 196, 0, 0.4) 30%, white 30%);
  }
  100% {
    background: radial-gradient(ellipse at center, yellow 15%, #ffc400 30%, white 70%);
  }
}
@keyframes loader-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@media screen and (min-width: 666px) {
  .loader {
    width: 35%;
    margin: 5% 12%;
  }

  .contain_logo::after {
    font-size: 1rem;
    margin-left: 4%;
  }
}
@media screen and (min-width: 1025px) {
  .loader {
    width: 25%;
    margin: 0% 17%;
  }

  .contain_logo::after {
    font-size: 1.2rem;
    margin-left: 4%;
  }
}
/* efface le coeur vide pour faire apparaitre le coeur plein dont 2 animations */
/* Animation des plats sur l'etat btn input choix  */
.menu > .menu--descriptif {
  transition: all 800ms ease-in-out;
}
.menu > .menu--prix::after {
  /* la boite verte en pseudo element */
  content: "";
  position: absolute;
  top: 0px;
  right: -105px;
  /* a changer en responsive */
  height: 200px;
  background-color: #99E2D0;
  width: 0px;
  transform: translateZ(0);
  transition: all 800ms ease-in-out;
}
.menu > .menu--prix::before {
  /* icone en pseudo element */
  font-family: "Font Awesome 5 free";
  font-weight: 900;
  cursor: pointer;
  content: "";
  color: white;
  background-color: #99E2D0;
  transform: rotate(180deg);
  z-index: 2;
  box-sizing: content-box;
  position: absolute;
  top: 35%;
  bottom: unset;
  left: unset;
  font-size: 1.6rem;
  right: -105px;
  /* a changer en responsive */
  transform: translateX(0px) rotateZ(180deg);
  transition: all 800ms ease-in-out;
}

/* Animation au chargement des pages menu */
/* Si ajout d'un plat: ajout dans $delay, changement through X */
@keyframes loading_menu {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/* Definit pour insertion du nouveau et ordre explicatif qui sont non animé */
.submit {
  font-family: roboto;
  font-size: 1.1rem;
  font-weight: bold;
  background: linear-gradient(to bottom, #FF79DA 0%, #9356DC 95%);
  border-radius: 40px;
  color: white;
  box-shadow: 5px 5px 5px #eaeaea;
  transition: 150ms ease-out;
  cursor: pointer;
}
.submit:hover {
  box-shadow: 5px 5px 5px #9e9e9e;
  filter: brightness(1.1);
}
.submit--explorer {
  margin: 30px 0 35px;
  border: none;
  padding: 1.2rem 2rem;
  text-align: center;
}
.submit--commander {
  margin: 45px 0 65px;
  border: none;
  padding: 1.2rem 5.2rem;
  text-align: center;
}

@media screen and (max-width: 666px) {
  .jaime::after {
    font-family: "Font Awesome 5 free";
    font-weight: 900;
    cursor: pointer;
    content: "";
    box-sizing: content-box;
    position: absolute;
    top: 1px;
    bottom: 0;
    left: 0px;
    font-size: 1.6rem;
    opacity: 0;
    transition: opacity 400ms ease-out;
  }
  .jaime:active::after {
    opacity: 1;
    background: linear-gradient(to bottom, #9356DC 0%, #FF79DA 95%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
  .jaime:active {
    color: transparent;
    transition: color 100ms ease-out;
  }
}
@media screen and (min-width: 666px) {
  .jaime::after {
    font-family: "Font Awesome 5 free";
    font-weight: 900;
    cursor: pointer;
    content: "";
    box-sizing: content-box;
    position: absolute;
    top: 1px;
    bottom: 0;
    left: 0px;
    font-size: 1.6rem;
    opacity: 0;
    transition: opacity 400ms ease-out;
  }
  .jaime:hover::after {
    opacity: 1;
    background: linear-gradient(to bottom, #9356DC 0%, #FF79DA 95%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
  .jaime:hover {
    color: transparent;
    transition: color 100ms ease-out;
  }
}
.jaime--restaurant {
  box-sizing: content-box;
  position: absolute;
  top: 75%;
  bottom: 0;
  left: 80%;
  font-size: 1.6rem;
}
.jaime--menu {
  box-sizing: content-box;
  position: absolute;
  top: 80%;
  bottom: 0;
  left: 80%;
  font-size: 1.6rem;
}

/* layout du label pour rendre toute la zone cliquable */
label::before {
  content: "";
  box-sizing: content-box;
  width: 100%;
  height: 85px;
  z-index: 1;
  cursor: pointer;
  position: absolute;
}

/* tous les btn des repas dans la page menu */
input[name=choix] {
  display: none;
}
@media screen and (max-width: 666px) {
  input[name=choix]:checked + .menu > .menu--descriptif {
    width: 65%;
  }
  input[name=choix]:checked + .menu > .menu--prix::after {
    width: 120px;
    transform: translateZ(1px);
  }
  input[name=choix]:checked + .menu > .menu--prix::before {
    transform: translateX(-75px) rotateZ(0);
  }
}
@media screen and (min-width: 666px) {
  input[name=choix]:hover + .menu > .menu--descriptif {
    width: 65%;
  }
  input[name=choix]:hover + .menu > .menu--prix::after {
    width: 120px;
    transform: translateZ(1px);
  }
  input[name=choix]:hover + .menu > .menu--prix::before {
    transform: translateX(-35px) rotateZ(0);
  }
}

body {
  margin: auto;
  font-family: roboto;
  font-size: 17px;
  font-weight: 400;
}

a {
  color: black;
}

/* taille de reference de font */
p {
  font-size: 1rem;
}

header {
  min-height: 65px;
  text-align: center;
}
header img {
  width: 44%;
  margin: 5% 0;
  text-align: center;
}

@media screen and (min-width: 1025px) {
  header img {
    width: 24%;
    margin: 1% 1%;
    text-align: center;
  }
}
footer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  min-height: 195px;
  padding-bottom: 10px;
  background-color: #353535;
  color: white;
}
footer p {
  width: 86.6666666667%;
  margin: 0px 20px;
  text-align: left;
}
footer > h4 {
  font-family: "Shrikhand";
  font-size: 1.2rem;
  font-weight: 200;
  width: 86.6666666667%;
  margin: 20px 20px;
  text-align: left;
}
footer a {
  color: white;
  text-decoration: none;
}

#icone--rotate {
  transform: rotate(-45deg) scale(0.8);
  margin-left: -1%;
  margin-right: 4%;
}

/* pour aligner le texte des 2 icones */
#icone--margin {
  margin-right: 5%;
}

@media screen and (min-width: 666px) {
  footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 100px;
    padding-left: 20px;
  }
  footer p {
    width: 18.6666666667%;
    margin: 0 20px;
    text-align: left;
  }
  footer h4 {
    width: 100%;
  }
}
@media screen and (min-width: 1025px) {
  footer > h4 {
    margin-top: 0.8rem;
  }
  footer > p, footer a {
    margin-top: -1rem;
  }
}
.recherche {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  min-height: 340px;
  padding-bottom: 0;
  background-color: #f6f6f6;
  text-align: center;
}
.recherche > h1 {
  font-size: 1.5rem;
}
.recherche__btn {
  background: linear-gradient(to bottom, #cfcfcf 0%, #eaeaea 15%);
}
.recherche__btn > i {
  margin-left: 70px;
}
.recherche__btn--localisation {
  margin: 10px 0;
  border: none;
  padding: 0.7rem 2.5rem 0.7rem 1rem;
  text-align: left;
  font-family: roboto;
  font-size: 1.1rem;
  font-weight: bold;
  width: 225px;
  background-color: #eaeaea;
}
.recherche__description {
  width: 82.6666666667%;
  margin: auto;
  text-align: center;
}

/* layout bouton traité via le fichier bouton */
.explicatif {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  min-height: 440px;
  padding-bottom: 60px;
  background-color: white;
  counter-reset: etape;
}
.explicatif > h2 {
  width: 86.6666666667%;
  margin: 20px 20px;
  text-align: left;
}
.explicatif__fonction {
  height: 75px;
  width: 86.6666666667%;
  margin: 0 20px;
  text-align: left;
  background-color: #f6f6f6;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #eaeaea;
  position: relative;
  counter-increment: etape;
}
.explicatif__fonction::before {
  content: "" counter(etape) "";
  color: white;
  text-align: center;
  background-color: #9356DC;
  padding: 4px 8px;
  border-radius: 20px;
  box-sizing: content-box;
  position: absolute;
  top: 26px;
  bottom: 26px;
  left: -12.5px;
  font-size: 0.8rem;
}
.explicatif__fonction:hover i {
  color: #9356DC;
}
.explicatif p {
  margin-top: 9%;
  font-weight: bold;
}
.explicatif i {
  padding: 0 25px 0 35px;
  margin-left: 10px;
}

.resultats {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  min-height: 1225px;
  padding-bottom: 60px;
  background-color: #f6f6f6;
}
.resultats > h2 {
  width: 86.6666666667%;
  margin: 20px 20px;
  text-align: left;
}
.resultats__contenu, .resultats__contenu--nouveau {
  /* ajout de la class --nouveau en html pour identifier celui-ci */
  width: 89.3333333333%;
  margin: 0px 20px;
  text-align: left;
  background-color: white;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #eaeaea;
  height: 255px;
  overflow: hidden;
  position: relative;
}
.resultats__contenu--layoutdescr, .resultats__contenu--nouveau--layoutdescr {
  box-sizing: content-box;
  position: absolute;
  top: 69%;
  bottom: 0;
  left: 0;
  font-size: 1.2rem;
  width: 100%;
  height: 31%;
  background-color: white;
  line-height: 0.7rem;
  padding-left: 15px;
}
.resultats__contenu--layoutdescr > h3, .resultats__contenu--nouveau--layoutdescr > h3 {
  font-size: 1.1rem;
}
.resultats__contenu--nouveau::after, .resultats__contenu--nouveau--nouveau::after {
  content: "Nouveau";
  box-sizing: content-box;
  position: absolute;
  top: 5%;
  bottom: 82%;
  left: 70%;
  font-size: 1rem;
  color: #1e6856;
  text-align: center;
  background-color: #99E2D0;
  padding: 0.4rem;
  border-radius: 2px;
}
.resultats__img {
  /* 2 ecritures html suivant le format de límage a integrer */
}
.resultats__img--paysage {
  width: 100%;
  object-fit: contain;
  object-position: 0 -20px;
}
.resultats__img--portrait {
  width: 100%;
  object-fit: contain;
  object-position: 0 -80px;
}

header > a {
  box-sizing: content-box;
  position: absolute;
  top: 20px;
  bottom: 0;
  left: 20px;
  font-size: 1.2rem;
  height: 30px;
}

main {
  background-color: #f6f6f6;
}

.presentation {
  height: 310px;
  overflow: hidden;
  position: relative;
}
.presentation--fitpaysage {
  /* 2 ecritures html suivant le format de límage a integrer */
  height: 100%;
  object-fit: contain;
  object-position: -50px -30px;
}
.presentation--fitportrait {
  width: 100%;
  object-fit: contain;
  object-position: 0 -30px;
}
.presentation__restaurant {
  box-sizing: content-box;
  position: absolute;
  top: 69%;
  bottom: 0px;
  left: 0px;
  font-size: 1.2rem;
  width: 100%;
  height: 31%;
  background-color: #f6f6f6;
  line-height: 4rem;
  padding-left: 0px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  width: 100%;
}
.presentation__restaurant > h1 {
  font-family: Shrikhand;
  font-size: 1.5rem;
  font-weight: 300;
  margin-left: 20px;
}

.entrees,
.plats,
.desserts {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  min-height: 310px;
  padding-bottom: 10px;
  background-color: #f6f6f6;
}
.entrees > h2,
.plats > h2,
.desserts > h2 {
  width: 10.6666666667%;
  margin: 20px;
  text-align: left;
  font-family: roboto;
  font-size: 1.1rem;
  font-weight: 300;
  padding-bottom: 8px;
  border-bottom: 4px solid #99E2D0;
}
.entrees > form,
.plats > form,
.desserts > form {
  /* bloc comprant les .menu */
  width: 93.3333333333%;
  margin: 0 12px;
  text-align: left;
  position: relative;
}

.menu {
  background-color: white;
  border-radius: 15px;
  box-shadow: 5px 5px 5px #eaeaea;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  padding-left: 10px;
  margin-bottom: 15px;
  overflow: hidden;
}
.menu--1 {
  animation: loading_menu 1s both;
  animation-delay: 200ms;
}
.menu--2 {
  animation: loading_menu 1s both;
  animation-delay: 350ms;
}
.menu--3 {
  animation: loading_menu 1s both;
  animation-delay: 500ms;
}
.menu--4 {
  animation: loading_menu 1s both;
  animation-delay: 650ms;
}
.menu > .menu--descriptif {
  width: 83%;
  overflow: hidden;
}
.menu > .menu--descriptif h3 {
  /* rogner le texte lors de l'animation */
  font-size: 1.1rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu > .menu--descriptif p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-top: -0.5rem;
}
.menu > .menu--prix {
  width: 17%;
  padding-top: 10%;
  /* padding pour ne pas bouger la box en Y pour animation */
  padding-left: 5px;
  position: relative;
}

.btn-bloc {
  background-color: #f6f6f6;
  text-align: center;
}

@media screen and (min-width: 666px) {
  .explicatif {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    min-height: 200px;
    padding-bottom: 40px;
    background-color: white;
  }
  .explicatif__fonction {
    width: 26.6666666667%;
    margin: 0 10px;
    text-align: center;
  }
  .explicatif > h2 {
    width: 92%;
    margin: 30px 10px;
    text-align: left;
  }
  .explicatif i {
    padding: 0 15px 0 15px;
    margin-left: unset;
  }

  .resultats {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    min-height: 655px;
    padding-bottom: 40px;
    background-color: #f6f6f6;
  }
  .resultats > h2 {
    width: 92%;
    margin: 30px 10px;
    text-align: left;
  }
  .resultats__contenu, .resultats__contenu--nouveau {
    width: 42.6666666667%;
    margin: 0 10px 15px;
    text-align: left;
  }
}
@media screen and (min-width: 1025px) {
  body {
    max-width: 1440px;
  }

  .recherche {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 130px;
    padding-bottom: 0;
    background-color: #f6f6f6;
    min-height: unset;
  }
  .recherche__description {
    width: 48%;
    margin: 0 58px;
    text-align: left;
  }
  .recherche__btn {
    width: 100%;
    height: 60px;
  }
  .recherche__btn--validation {
    width: 40%;
    margin: 0px 0px 10px;
    text-align: center;
  }

  .explicatif {
    min-height: unset;
  }
  .explicatif p {
    margin-top: 8%;
  }

  .resultats {
    min-height: unset;
    justify-content: flex-start;
  }
  .resultats__contenu, .resultats__contenu--nouveau {
    width: 22.6666666667%;
    margin: 0px 7px 15px;
    text-align: left;
  }
}
@media screen and (min-width: 666px) {
  header > a {
    box-sizing: content-box;
    position: absolute;
    top: 45px;
    bottom: 0px;
    left: 80px;
    font-size: 3rem;
  }

  main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .presentation {
    width: 50%;
    height: 390px;
  }
  .presentation h1 {
    padding-top: 10px;
  }

  .entrees,
.plats,
.desserts {
    width: 50%;
  }

  .menu .menu--prix::after {
    right: -100px;
  }
  .menu .menu--prix::before {
    right: -80px;
  }

  .btn-bloc {
    margin: auto;
    width: 100%;
  }
}
@media screen and (min-width: 1025px) {
  header > a {
    top: 15px;
  }

  .presentation {
    width: 100%;
    margin: auto;
    height: 300px;
  }
  .presentation--fitpaysage {
    width: 100%;
    object-fit: contain;
    object-position: 0 -300px;
    height: unset;
  }
  .presentation__restaurant {
    width: 40%;
  }

  .jaime--menu {
    left: 30%;
    top: 83%;
  }

  .entrees,
.plats,
.desserts {
    width: 33.3%;
    padding-top: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
