
/* Definit pour insertion du nouveau et ordre explicatif qui sont non animé */
@mixin pseudoe_layout ($colf, $alig, $colbg, $pad, $rad) {
    color: $colf;
    text-align: $alig;
    background-color: $colbg;
    padding: $pad;
    border-radius: $rad;
}
