$rond_etape: (
  A: 1,
  B: 2,
  C: 3,
);
@mixin pseudoE_rond($rond_etape) {
  @each $key, $val in $rond_etape {
    &.--#{$key}::before {
      content: "#{$val}";
      color: white;
      background-color: $primary;
      width: 25px;
      height: 25px;
      border-radius: 15px;
      position: absolute;
      left: (25px / -2);
      top: (62.5px / 2);
    }
  }
}

@mixin pseudoE_nouveau {
    content: "Nouveau";
    box-sizing: content-box;
    font-size: 1rem;
    padding: 0.4rem;
    border-radius: 2px;
    background-color: $third;
    color: $thrid-sombre;
    position: absolute;
    left: 70%;
    top: 5%;
}
