/* Animation corps page pour apparition */

@mixin load-home {
    animation: load-home 250ms 2300ms forwards ease-in-out;
}
.recherche, .explicatif, .resultats, footer {
    opacity: 0;
      @include load-home;
    }

@keyframes load-home {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
  }

  /* Animation header deplacement pour position final */
  #logo_ohmyfood--index {
    animation: logo_header 400ms 2000ms both ease-out;
  }
  @keyframes logo_header {
    0% {
      opacity: 0;
      transform: translateY(225px) translateX(-60px) scale(0.2);
  }
  
  100% {
      transform: translateY(0px) scale(1);
      opacity: 1;
  }
  }

  /* Animation du loader */
.loader {
    @include position_abs_top_left (35%, 20%);
    width: 60%;
    @include flex_layout (row, wrap, space-between);
    border: 2px solid black;
    border-radius: 5px;
    animation: loader-out 300ms 2300ms both ease-in;

    > div {
        @include position_width (47%, 0 0 10%);
    }

    & .logo1 {
        width: 100%;
    }
    & .logo2{
        @include position_width (40%, 10% 30%);
        animation: logo2 400ms 400ms forwards ease-out alternate;
    }
    & .logo3{
        @include position_width (80%, 0% 10%);
        transform: rotate(-180deg);
        animation: logo3 400ms 800ms forwards ease-in-out;
    }
    & .logo4{
        @include position_width (100%, 5% -2%);
        animation: logo4 600ms 1200ms both ease-in;
    }
}
/* Animation du logo menu */
.contain_logo {
    position: relative;
    width: 30%;
    & .logoheader {
        width: 80%;
        filter:invert(1);
        @include position_abs_top_left (60%, 10%);
        z-index: 1; 
        animation: logo1 2000ms forwards ease-in-out;
    }
}

@keyframes logo1 {
    0% {
        opacity: 0;
    }
    30%{
        opacity: 1;
        transform: translateY(0);
    }
    85% {
        transform: translateY(10px);
        opacity: 1;
    }
    100% {
        transform: translateY(-50px);
        opacity: 0;
    }
}

@keyframes logo2 {
    0% {
        transform: translateY(0px) scale(1);
    }
    80% {
        transform: translateY(-10px) scale(1.1);
    }
    100%{
        transform: translateY(10px);
    }
}

@keyframes logo3 {
    0% {
        transform: rotate(-180deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes logo4 {
  
    0% {
    background: radial-gradient(ellipse at center, rgba(255, 255, 0, 0.2) 15%, rgba(255, 196, 0, 0.2) 30%, white 30%);
    }
    50% {
    background: radial-gradient(ellipse at center, rgba(255, 255, 0, 0.5) 15%, rgba(255, 196, 0, 0.5) 30%, white 50%);
}
    100% {
        background: radial-gradient(ellipse at center, rgba(255, 255, 0, 1) 15%, rgba(255, 196, 0, 1) 30%, white 70%);
    }
}

@keyframes loader-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@include tablette {
    .loader {
        margin-top: 5%;
        margin-left: 12%;
        width: 35%;
    }
}

@include laptop {
    .loader {
        margin-top: 0%;
        margin-left: 17%;
        width: 25%;
    }
}



