$primary: #9356DC;
$secondary: #FF79DA;
$third: #99E2D0;
$thrid-sombre: darken($third, 38%);
$text_bouton: white;

$color_background: #f6f6f6;

$col_degrade_fonce: #cfcfcf;
$col_degrade_clair : #eaeaea;

$color_bg_footer: #353535;
