
.loader {
    margin: auto;
    margin-top: 30%;
    width: 70%;
    display: flex;
    flex: row;
    flex-wrap: wrap;
    justify-content: space-between;
    /* animation: effacement 100ms 2600ms both ease-in; */
    
    > div {
        width: 47%;
        margin-bottom: 10%; 
    }

    & .logo1 {

        width: 100%;
    }
    & .logo2{

        width: 40%;
        margin: 10% 30%;
        animation: logo2 800ms 400ms ease-out alternate;
    }
    & .logo3{

        width: 80%;
        margin-left: 10%;
        transform: rotate(-180deg);
        animation: logo3 800ms 1000ms forwards ease-in-out;
    }
    & .logo4{
        width: 100%;
        margin-top: 5%; 
        animation: logo4 600ms 1400ms both ease-in;
    }
}
.contain_logo {
    position: relative;
    width: 30%;
    & .logoheader {
        width: 80%;
        filter:invert(1);
        position: absolute;
        z-index: 1; 
        top: 60%;
        left: 10%;
        animation: logo1 2400ms forwards ease-in-out;
    }
}


@keyframes logo1 {
    0% {
        opacity: 0;
    }
    30%{
        opacity: 1;
        transform: translateY(0);
    }
    85% {
        transform: translateY(30px);
        opacity: 1;
    }
    100% {
        transform: translateY(-400px);
        opacity: 0;
    }
}


@keyframes logo2 {
    0% {
        transform: translateY(0px);
    }
    85% {
        transform: translateY(-40px);
    }
    100%{
        transform: translateY(0px);
    }
}

@keyframes logo3 {
    0% {
        transform: rotate(-180deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes logo4 {
    0% {
        background: radial-gradient(ellipse at center, rgb(255, 255, 0, 0) 0%, white 0%);   
}
    50% {
    background: radial-gradient(ellipse at center, rgb(255, 255, 0, 1) 0%, white 30%);   
}
    100% {
        background: radial-gradient(ellipse at center, rgb(255, 255, 0, 1) 0%, rgb(255, 196, 1) 30%, white 70%);
    }
}

@keyframes effacement {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


