
.contain__loader {
position: absolute;
width: 100%;
height: 100%;
animation: loader-out 400ms 2300ms both ease-in;
}
.loader {
    margin: auto;
    margin-top: 45%;
    width: 60%;
    display: flex;
    flex: row;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 2px solid black;
    border-radius: 5px;
    
    /*  */

    > div {
        width: 47%;
        margin-bottom: 10%; 
    }

    & .logo1 {

        width: 100%;
    }
    & .logo2{
        width: 40%;
        margin: 5% 30%;
        animation: logo2 400ms 400ms forwards ease-out alternate;
    }
    & .logo3{

        width: 80%;
        margin-left: 10%;
        transform: rotate(-180deg);
        animation: logo3 400ms 800ms forwards ease-in-out;
    }
    & .logo4{
        width: 100%;
        margin: 5% -2%; 
        animation: logo4 600ms 1200ms both ease-in;
    }
}
.contain_logo {
    position: relative;
    width: 30%;
    & .logoheader {
        width: 80%;
        filter:invert(1);
        position: absolute;
        z-index: 1; 
        top: 60%;
        left: 10%;
        animation: logo1 2000ms forwards ease-in-out;
    }
}


@keyframes logo1 {
    0% {
        opacity: 0;
    }
    30%{
        opacity: 1;
        transform: translateY(0);
    }
    85% {
        transform: translateY(10px);
        opacity: 1;
    }
    100% {
        transform: translateY(-50px);
        opacity: 0;
    }
}


@keyframes logo2 {
    0% {
        transform: translateY(0px);
    }
    80% {
        transform: translateY(-15px);
    }
    100%{
        transform: translateY(20px);
    }
}

@keyframes logo3 {
    0% {
        transform: rotate(-180deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes logo4 {
  
    0% {
    background: radial-gradient(ellipse at center, rgba(255, 255, 0, 0.2) 15%, rgba(255, 196, 0, 0.2) 30%, white 30%);
    }
    50% {
    background: radial-gradient(ellipse at center, rgba(255, 255, 0, 0.5) 15%, rgba(255, 196, 0, 0.5) 30%, white 50%);
}
    100% {
        background: radial-gradient(ellipse at center, rgba(255, 255, 0, 1) 15%, rgba(255, 196, 0, 1) 30%, white 70%);
    }
}

@keyframes loader-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}



