/* aujustement commun des font */
/* aujuster les sousbloc en flex grace a width et margin */
/* pour tous les elements utilisant position absolue */
/* commun au bouton type submit */
/* @mixin bloc_descriptif {
  width: 100%;
  height: 31%;
  background-color: white;
  line-height: 0.7rem;
  padding-left: 15px;
}
 */
#submit {
  margin: 80px 0 35px;
  border: none;
  padding: 1.2rem 2rem;
  text-align: center;
  font-family: roboto;
  font-size: 1.3rem;
  font-weight: bold;
  background: linear-gradient(to bottom, #FF79DA 0%, #9356DC 95%);
  border-radius: 30px;
  color: white;
  box-shadow: 5px 5px 5px #eaeaea;
}

body {
  margin: auto;
  font-family: roboto;
  font-size: 1.3rem;
  font-weight: 400;
}

header {
  min-height: 65px;
  text-align: center;
}
header img {
  width: 165px;
  margin-top: 3%;
  margin-bottom: 2%;
}

@media screen and (min-width: 1025px) {
  header img {
    width: 320px;
    margin-top: 1%;
    margin-bottom: 1%;
  }
}
footer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  min-height: 195px;
  padding-bottom: 10px;
  background-color: #353535;
  color: white;
}
footer p {
  margin-top: -1rem;
  width: 86.6666666667%;
  margin-left: 5.3333333333%;
  text-align: left;
}
footer > h4 {
  font-family: "Shrikhand";
  font-size: 1.5rem;
  font-weight: 200;
  width: 86.6666666667%;
  margin-left: 5.3333333333%;
  text-align: left;
}

#icone--rotate {
  transform: rotate(-45deg) scale(0.8);
  margin-left: -1%;
  margin-right: 4%;
}

/* pour aligner le texte des 2 icones */
#icone--margin {
  margin-right: 5%;
}

@media screen and (min-width: 678px) {
  footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 100px;
  }
  footer p {
    width: 18.6666666667%;
    margin-left: 5.3333333333%;
    text-align: left;
  }
  footer h4 {
    width: 100%;
  }
}
@media screen and (min-width: 1025px) {
  footer h4 {
    margin-top: 0.6rem;
  }
}
.recherche {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  min-height: 340px;
  padding-bottom: 0;
  background-color: #f6f6f6;
  text-align: center;
}
.recherche__btn {
  background: linear-gradient(to bottom, #cfcfcf 0%, #eaeaea 15%);
}
.recherche__btn > i {
  margin-left: 70px;
}
.recherche__btn--localisation {
  margin: 10px 0;
  border: none;
  padding: 0.7rem 2.5rem 0.7rem 1rem;
  text-align: left;
  font-family: roboto;
  font-size: 1.2rem;
  font-weight: bold;
  width: 225px;
  background-color: #eaeaea;
}
.recherche__description {
  width: 86.6666666667%;
  margin-left: 5.3333333333%;
  text-align: center;
  height: 144px;
}

.explicatif {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  min-height: 440px;
  padding-bottom: 60px;
  background-color: unset;
}
.explicatif > h2 {
  width: 86.6666666667%;
  margin-left: 5.3333333333%;
  text-align: left;
  margin-top: 0.5rem;
}
.explicatif__fonction {
  height: 75px;
  width: 86.6666666667%;
  margin-left: 5.3333333333%;
  text-align: left;
  background-color: #f6f6f6;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #eaeaea;
  position: relative;
}
.explicatif__fonction--1::before {
  content: "1";
  color: white;
  text-align: center;
  background-color: #9356DC;
  padding: 4px 8px;
  border-radius: 20px;
  box-sizing: content-box;
  position: absolute;
  top: 26px;
  bottom: 26px;
  left: -12.5px;
  font-size: 0.8rem;
}
.explicatif__fonction--2::before {
  content: "2";
  color: white;
  text-align: center;
  background-color: #9356DC;
  padding: 4px 8px;
  border-radius: 20px;
  box-sizing: content-box;
  position: absolute;
  top: 26px;
  bottom: 26px;
  left: -12.5px;
  font-size: 0.8rem;
}
.explicatif__fonction--3::before {
  content: "3";
  color: white;
  text-align: center;
  background-color: #9356DC;
  padding: 4px 8px;
  border-radius: 20px;
  box-sizing: content-box;
  position: absolute;
  top: 26px;
  bottom: 26px;
  left: -12.5px;
  font-size: 0.8rem;
}
.explicatif__fonction:hover i {
  color: #9356DC;
}
.explicatif p {
  margin-top: 9%;
  font-family: roboto;
  font-size: 1rem;
  font-weight: bold;
}
.explicatif i {
  padding: 0 25px 0 35px;
  margin-left: 10px;
}

.resultats {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: between;
  min-height: 1225px;
  padding-bottom: 60px;
  background-color: #f6f6f6;
  align-items: space-between;
}
.resultats > h2 {
  width: 86.6666666667%;
  margin-left: 5.3333333333%;
  text-align: left;
}
.resultats__contenu, .resultats__contenu--nouveau {
  width: 89.3333333333%;
  margin-left: 5.3333333333%;
  text-align: left;
  background-color: white;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #eaeaea;
  height: 255px;
  overflow: hidden;
  position: relative;
}
.resultats__contenu--imgfit, .resultats__contenu--nouveau--imgfit {
  width: 100%;
  object-fit: contain;
  object-position: 0 -20px;
}
.resultats__contenu--imgfit.--pospotrait, .resultats__contenu--nouveau--imgfit.--pospotrait {
  object-position: 0 -200px;
}
.resultats__contenu--layoutdescr, .resultats__contenu--nouveau--layoutdescr {
  box-sizing: content-box;
  position: absolute;
  top: 100;
  bottom: 0;
  left: 0;
  font-size: 1.2rem;
  width: 100%;
  height: 31%;
  background-color: white;
  line-height: 0.7rem;
  padding-left: 15px;
}
.resultats__contenu--nouveau::after, .resultats__contenu--nouveau--nouveau::after {
  content: "Nouveau";
  box-sizing: content-box;
  position: absolute;
  top: 5%;
  bottom: 82%;
  left: 70%;
  font-size: 1rem;
  color: #1e6856;
  text-align: center;
  background-color: #99E2D0;
  padding: 0.4rem;
  border-radius: 2px;
}
.resultats i {
  box-sizing: content-box;
  position: absolute;
  top: 30%;
  bottom: 35%;
  left: 80%;
  font-size: 1.7rem;
}
.resultats i:hover {
  background-color: white;
}

.presentation {
  border: 2px dashed red;
  position: relative;
}
.presentation > h1 {
  width: 89.3333333333%;
  margin-left: 5.3333333333%;
  text-align: left;
}
.presentation > i {
  box-sizing: content-box;
  position: absolute;
  top: 30%;
  bottom: 35%;
  left: 80%;
  font-size: 1.7rem;
}

.entrees, .plats, .desserts {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  min-height: 310px;
  padding-bottom: 10px;
  background-color: #f6f6f6;
}
.entrees > h2, .plats > h2, .desserts > h2 {
  width: 89.3333333333%;
  margin-left: 5.3333333333%;
  text-align: left;
}
.entrees > form, .plats > form, .desserts > form {
  width: 89.3333333333%;
  margin-left: 5.3333333333%;
  text-align: left;
}
.entrees > form > div, .plats > form > div, .desserts > form > div {
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #eaeaea;
  margin-bottom: 15px;
}

@media screen and (min-width: 678px) {
  #submit {
    margin-top: 10px;
  }

  .explicatif {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    min-height: 200px;
    padding-bottom: 40px;
    background-color: unset;
  }
  .explicatif__fonction {
    width: 26.6666666667%;
    margin-left: 2.6666666667%;
    text-align: center;
  }
  .explicatif > h2 {
    width: 92%;
    margin-left: 2.6666666667%;
    text-align: left;
    margin-top: 2rem;
  }
  .explicatif i {
    padding: 0 15px 0 15px;
    margin-left: unset;
  }

  .resultats {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    min-height: 655px;
    padding-bottom: 40px;
    background-color: #f6f6f6;
  }
  .resultats > h2 {
    width: 92%;
    margin-left: 2.6666666667%;
    text-align: left;
  }
  .resultats__contenu, .resultats__contenu--nouveau {
    width: 42.6666666667%;
    margin-left: 2.6666666667%;
    text-align: left;
  }
}
@media screen and (min-width: 1025px) {
  body {
    max-width: 1440px;
  }

  .recherche {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 130px;
    padding-bottom: 0;
    background-color: #f6f6f6;
    min-height: unset;
  }
  .recherche__description {
    width: 53.3333333333%;
    margin-left: 5.3333333333%;
    text-align: left;
  }
  .recherche__btn {
    width: 100%;
    height: 60px;
  }
  .recherche__btn--validation {
    width: 40%;
    margin-left: 0%;
    text-align: center;
    margin-top: 20px;
  }

  .explicatif {
    min-height: unset;
  }
  .explicatif p {
    margin-top: 8%;
  }

  .resultats {
    min-height: unset;
    justify-content: space-around;
  }
  .resultats__contenu, .resultats__contenu--nouveau {
    width: 24%;
    margin-left: 0%;
    text-align: left;
  }
  .resultats__contenu--imgfit, .resultats__contenu--nouveau--imgfit {
    object-position: 0 0px;
  }
  .resultats__contenu--imgfit.--pospotrait, .resultats__contenu--nouveau--imgfit.--pospotrait {
    object-position: 0 -60px;
  }
}

/*# sourceMappingURL=style.css.map */
