body {
  margin: auto;
  /* aujustement commun des font */
  font-family: roboto;
  font-size: 1.3rem;
  font-weight: 400;
}

header {
  min-height: 65px;
  text-align: center;
}
header img {
  width: 165px;
  margin-top: 3%;
  margin-bottom: 2%;
}

@media screen and (min-width: 1025px) {
  header img {
    width: 320px;
    margin-top: 1%;
    margin-bottom: 1%;
  }
}
footer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  min-height: 195px;
  padding-bottom: 10px;
  background-color: #353535;
  color: white;
}
footer p {
  margin-top: -1rem;
  /* ajustement commun lier a la forme */
  width: 86.6666666667%;
  margin-left: 5.3333333333%;
  text-align: left;
}
footer h4 {
  /* aujustement commun des font */
  font-family: "Shrikhand";
  font-size: 1.5rem;
  font-weight: 200;
  /* ajustement commun lier a la forme */
  width: 86.6666666667%;
  margin-left: 5.3333333333%;
  text-align: left;
}

@media screen and (min-width: 678px) {
  footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 100px;
    padding-bottom: 10px;
    background-color: #353535;
  }
  footer p {
    /* ajustement commun lier a la forme */
    width: 18.6666666667%;
    margin-left: 5.3333333333%;
    text-align: left;
  }
  footer h4 {
    width: 100%;
  }
}
@media screen and (min-width: 1025px) {
  footer h4 {
    margin-top: 0.6rem;
  }
}
.accueil__nav {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  min-height: 340px;
  padding-bottom: 0;
  background-color: #f6f6f6;
  text-align: center;
}
.accueil__nav .__btn__localisation {
  background: linear-gradient(to bottom, #cfcfcf 0%, #eaeaea 15%);
}
.accueil__nav .__description {
  /* ajustement commun lier a la forme */
  width: 86.6666666667%;
  margin-left: 5.3333333333%;
  text-align: center;
  height: 144px;
}

#localisation {
  margin: 10px 0;
  border: none;
  padding: 0.7rem 2.5rem;
  text-align: center;
  /* aujustement commun des font */
  font-family: roboto;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: #eaeaea;
}

#explorer {
  margin: 80px 0 35px;
  border: none;
  padding: 1.2rem 2rem;
  text-align: center;
  /* aujustement commun des font */
  font-family: roboto;
  font-size: 1.3rem;
  font-weight: bold;
  /* commun au bouton type submit */
  background: linear-gradient(to bottom, #FF79DA 0%, #9356DC 95%);
  border-radius: 30px;
  color: white;
  box-shadow: 5px 5px 5px #eaeaea;
}

.accueil__aside {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  min-height: 440px;
  padding-bottom: 60px;
  background-color: unset;
}
.accueil__aside .__titre {
  /* ajustement commun lier a la forme */
  width: 86.6666666667%;
  margin-left: 5.3333333333%;
  text-align: left;
  margin-top: 0.5rem;
}
.accueil__aside .__liste {
  height: 75px;
  /* ajustement commun lier a la forme */
  width: 86.6666666667%;
  margin-left: 5.3333333333%;
  text-align: center;
  /* ajustement commun lie a la couleur */
  background-color: #f6f6f6;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #eaeaea;
  position: relative;
}
.accueil__aside .__liste.--A::before {
  content: "";
  color: white;
  background-color: #9356DC;
  width: 25px;
  height: 25px;
  border-radius: 15px;
  position: absolute;
  left: -12.5px;
  top: 31.25px;
}
.accueil__aside .__liste.--B::before {
  content: "";
  color: white;
  background-color: #9356DC;
  width: 25px;
  height: 25px;
  border-radius: 15px;
  position: absolute;
  left: -12.5px;
  top: 31.25px;
}
.accueil__aside p {
  margin-top: 8%;
  font-weight: bold;
}

.accueil__main {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  min-height: 1225px;
  padding-bottom: 60px;
  background-color: #f6f6f6;
  align-items: space-between;
}
.accueil__main .__titre {
  /* ajustement commun lier a la forme */
  width: 86.6666666667%;
  margin-left: 5.3333333333%;
  text-align: left;
}
.accueil__main .__restaurant {
  /* ajustement commun lier a la forme */
  width: 86.6666666667%;
  margin-left: 5.3333333333%;
  text-align: left;
  /* ajustement commun lie a la couleur */
  background-color: white;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #eaeaea;
  height: 255px;
  overflow: hidden;
  position: relative;
}
.accueil__main .__restaurant .__img--fit {
  width: 100%;
  object-fit: contain;
  object-position: 0 -20px;
}
.accueil__main .__restaurant .__img--fit.--position {
  object-position: 0 -200px;
}
.accueil__main .__restaurant .__descriptif {
  position: absolute;
  box-sizing: content-box;
  bottom: 0;
  width: 100%;
  height: 31%;
  background-color: white;
  font-size: 1.2rem;
  line-height: 0.7rem;
  padding-left: 15px;
}

@media screen and (min-width: 678px) {
  #explorer {
    margin-top: 20px;
  }

  .accueil__aside {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    min-height: 200px;
    padding-bottom: 40px;
    background-color: unset;
  }
  .accueil__aside .__liste {
    /* ajustement commun lier a la forme */
    width: 26.6666666667%;
    margin-left: 2.6666666667%;
    text-align: center;
  }
  .accueil__aside .__titre {
    /* ajustement commun lier a la forme */
    width: 92%;
    margin-left: 2.6666666667%;
    text-align: left;
    margin-top: 2rem;
  }

  .accueil__main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    min-height: 655px;
    padding-bottom: 60px;
    background-color: #f6f6f6;
  }
  .accueil__main .__titre {
    /* ajustement commun lier a la forme */
    width: 92%;
    margin-left: 2.6666666667%;
    text-align: left;
  }
  .accueil__main .__restaurant {
    /* ajustement commun lier a la forme */
    width: 42.6666666667%;
    margin-left: 2.6666666667%;
    text-align: left;
  }
}
@media screen and (min-width: 1025px) {
  body {
    max-width: 1440px;
  }

  .accueil__nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 230px;
    padding-bottom: 0;
    background-color: #f6f6f6;
    min-height: unset;
  }
  .accueil__nav .__description {
    /* ajustement commun lier a la forme */
    width: 53.3333333333%;
    margin-left: 5.3333333333%;
    text-align: left;
  }
  .accueil__nav .__btn__localisation {
    width: 100%;
    height: 60px;
  }
  .accueil__nav .__btn__explorer {
    /* ajustement commun lier a la forme */
    width: 37.3333333333%;
    margin-left: 0%;
    text-align: left;
    margin-top: 20px;
  }

  .accueil__aside {
    min-height: unset;
  }
  .accueil__aside p {
    margin-top: 6%;
  }

  .accueil__main {
    min-height: unset;
    justify-content: space-around;
  }
  .accueil__main .__restaurant {
    /* ajustement commun lier a la forme */
    width: 24%;
    margin-left: 0%;
    text-align: left;
  }
  .accueil__main .__restaurant .__img--fit {
    object-position: 0 0px;
  }
  .accueil__main .__restaurant .__img--fit.--position {
    object-position: 0 -60px;
  }
}

/*# sourceMappingURL=style.css.map */
