.accueil__nav {
  @include border(green);
  @include flex(column, nowrap, flex-start);
  background-color: $color_background;
  height: 340px;

  & .__btn__localisation {
    width: 100%;
    height: 50px;
    background: linear-gradient(to bottom, $col_start_deg_loc 0%, $col_end_deg_loc 15%)
  }
  & .__description {
    @include border(red);
    @include largeur(325px);
    height: 144px;
    padding: 45px 0 0;
  }
}
#localisation {
  background-color: red;
  margin-left: 220px;
  margin-top: 20px;
}
#explorer {
  background-color: red;
  margin-left: 220px;
}

.accueil__aside {
  @include border(green);
  @include flex(column, nowrap, space-around);
  height: 440px;
  & .__titre {
    @include border(blue);
    @include largeur(325px);
  }
  & .__liste {
    @include border(red);
    @include largeur(325px);
    background-color: $color_background;
  }
}

.accueil__main {
  @include border(green);
  @include flex(column, nowrap, space-between);
  align-items: space-between;
  height: 1225px;
  padding-bottom: 60px;
  background-color: $color_background;

  & .__titre {
    @include border(blue);
    @include largeur(325px);
  }
  & .__restaurant {
    @include largeur(325px);
    @include border(red);
    height: 255px;
  }
}
