header{
    > a {
        @include position_absolue (2%, 0%, 20px, 1.2rem);
        color: black;
    }
}

.presentation{
    @include img_contain (310px);
    > img {
        @include img_object (-100px);
    }
    &__restaurant{       
        @include position_absolue (100, 0px, 0, 1.2rem);
        @include description_inside ($color_background, 4rem, 20px);        
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        
        > h1 {
            @include font (Shrikhand, 1.5rem, 300);
        }
        > i {
            @include position_absolue (46%, 35%, 80%, 1.7rem);
        }
    }
    
}

.entrees, .plats, .desserts {
    @include flex_layout(column, nowrap, space-around,);
    @include box_height (310px, 10px, $color_background);
    > h2 {
        @include box_width(40px, 20px, left);
        @include font (roboto, 1.1rem, 300);
        padding-bottom: 8px;
        border-bottom: 4px solid $third;
    }
    > form {
        @include box_width(335px, 0 20px, left);
           
    }
}
label {
    @include box_contour ($text_bouton, 15px, $col_degrade_clair);
    @include flex_layout(row, nowrap, flex-start);
    position: relative;
    padding-left: 15px;
    margin-bottom: 15px;
    line-height: 10px;
    
    & .menu--descriptif {
        border: solid 2px green;
        width: 80%;
    }

    & .menu--prix{
        width: 60px;
        position: absolute;
        left: 80%;
        padding-top: 10%;  
    }

    & .menu--check{
        width: 20%;
        border: solid 2px green;
    }
}


.btn-bloc{
    background-color: $color_background;
    text-align: center;
}

input [type=checkbox] [name=test] {
    background-color: red;
    width: 10px;
}