.presentation{
    background-color: chartreuse;
    height: 310px;
    position: relative;

    &__restaurant{
        @include position_absolue (100, 0px, 0, 1.2rem);
        width: 100%;
        height: 31%;
        background-color: $color_background;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        padding-top: 35px;
        > h1 {
            padding-left: 5.3%;
        }
        > i {
            @include position_absolue (46%, 35%, 80%, 1.7rem);
        }
    }
    
}

.entrees, .plats, .desserts {
    @include flex_layout(column, nowrap, space-around,);
    @include box_height (310px, 10px, $color_background);
    > h2 {
        @include box_width(335px, 20px, left);
    }
    > form {
        @include box_width(335px, 20px, left);
        & div {
            @include box_contour ($text_bouton, 10px, $col_degrade_clair);
            margin-bottom: 15px;
            position: relative;
        }
        & input {
            @include position_absolue (46%, 35%, 80%, 1.7rem);
        }       
    }
}
