@mixin animation_jaime {
    &::after {
      @include import_icone(900);
      content: "\f004";
      @include position_absolue(1px, 0, 0px, 1.6rem);
      opacity: 0;
      transition: opacity 200ms ease-out;
    }
    &:hover::after {
      opacity: 1;
      @include degrade_color($primary, 0%, $secondary, 95%);
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
    }
  }
  
  @mixin animation_btnsubmit($col_shad) {
    transition: 150ms ease-out;
    &:hover {
      box-shadow: 5px 5px 5px darken($col_shad, 30%);
      filter: brightness(1.1);
    }
  }