@mixin animation_menu ($name) {
    animation: $name 800ms forwards ease-in-out;
  }
  
  @keyframes descriptif_in {
    from {
        width: 83%; 
    }
    to{
        width: 65%;
    }
  }
  @keyframes descriptif_out {
    from {
        width: 65%; 
    }
    to{
        width: 83%;
    }
  }
  @keyframes after_in {
    from {
      width: 0px;
        transform: translateZ(0);
    }
    to{
      width: 80px;
        transform: translateZ(1);
    }
  }
  @keyframes after_out {
    from {
      width: 80px;
        transform: translateZ(1);
    }
    to{
      width: 0px;
        transform: translateZ(0);
    }
  }
  @keyframes icone_in {
    0% {
        
        transform: translateX(0px) rotateZ(180deg) ;
    }
    100%{
        transform: translateX(-35px) rotateZ(0);
    }
  }
  @keyframes icone_out {
    0% {
        
        transform: translateX(-35px) rotateZ(0) ;
    }
    100%{
        transform: translateX(0px);
    }
  }


  @mixin loading_menu {
  @for $i from 1 through 3 {
      &--#{$i} {
        animation: anim_loading 1s both;
        animation-delay: map-get($delay, $i);
      }
    }
  }

  $delay:(1:100ms, 2:300ms, 3:500ms);
  
  @keyframes anim_loading {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
  