@mixin font($family, $size, $weight) {
  font-family: $family;
  font-size: $size;
  font-weight: $weight;
} /* aujustement commun des font */

@mixin flex_layout($dir, $wrap, $content) {
  display: flex;
  flex-direction: $dir;
  flex-wrap: $wrap;
  justify-content: $content;
}
@mixin box_height($height, $padbot, $colbg) {
  min-height: $height;
  padding-bottom: $padbot;
  background-color: $colbg;
}

/* aujuster les sousbloc en flex grace a width et margin */
@mixin box_width($width_element, $marg, $textalign) {
  width: percentage($width_element / $width-totale);
  margin: $marg;
  text-align: $textalign;
}


@mixin box_contour($color, $radius, $col_shad) {
  background-color: $color;
  border-radius: $radius;
  box-shadow: 5px 5px 5px $col_shad;
}

/* pour tous les elements utilisant position absolue */
@mixin position_absolue($top, $bottom, $left, $ftsize) {
  box-sizing: content-box;
  position: absolute;
  top: $top;
  bottom: $bottom;
  left: $left;
  font-size: $ftsize;
} 

/* ajustement des images */
@mixin img_contain($height) {
  height: $height;
  overflow: hidden;
  position: relative;
}

@mixin img_object($axeY) {
  width: 100%;
  object-fit: contain;
  object-position: 0 $axeY;
}
@mixin img_object_menu($axeX) {
  height: 100%;
  object-fit: contain;
  object-position: $axeX 0;
}

/* ajustement bloc dans l'image en absolue */
@mixin description_inside ($bg, $lh, $padl){
  width: 100%;
  height: 31%;
  background-color: $bg;
  line-height: $lh;
  padding-left: $padl;
}


/* mixin bouton */
@mixin btn_layout($margin, $border, $padding, $align) {
  margin: $margin;
  border: $border;
  padding: $padding;
  text-align: $align;
}

@mixin btn_color($col_shad) {
  @include degrade_color($secondary, 0%, $primary, 95%);
  border-radius: 40px;
  color: $text_bouton;
  box-shadow: 5px 5px 5px $col_shad;
} /* commun au bouton type submit */



@mixin tablette {
  @media screen and (min-width: 678px) {
    @content;
  }
}

@mixin laptop {
  @media screen and (min-width: 1025px) {
    @content;
  }
}

