
/* mise en page bloc et ssbloc */
@mixin font ($family, $size) {
    font-family: $family;
    font-size: $size;
}

@mixin border ($col) {
    border: 2px dashed $col;
}

@mixin flex ($dir, $wrap, $content) {
    display: flex;
    flex-direction: $dir;
    flex-wrap: $wrap;
    justify-content: $content;
}

@mixin largeur ($width_element) {
    width: percentage($width_element / $width-totale);
    margin-left: percentage(20px / $width-totale);
}

@mixin tablette {
    @media screen and (max-width: 1024px) {
        @content;
    }   
}
