/* mise en page bloc et ssbloc */
@mixin font($family, $size) {
  font-family: $family;
  font-size: $size;
}

@mixin border($col) {
  border: 2px dashed $col;
}

@mixin flex($dir, $wrap, $content) {
  display: flex;
  flex-direction: $dir;
  flex-wrap: $wrap;
  justify-content: $content;
}

@mixin position_element($width_element, $textalign) {
  width: percentage($width_element / $width-totale);
  margin-left: percentage(20px / $width-totale);
  text-align: $textalign;
}

@mixin btn_layout($margin, $border, $padding, $align, $font, $weight) {
  margin: $margin;
  border: $border;
  padding: $padding;
  text-align: $align;
  font-size: $font;
  font-weight: $weight;
}
@mixin btn_color ($col_shad) {
  background: linear-gradient(to bottom, $secondary 0%, $primary 95%);
  border-radius: 30px;
  color: $text_bouton;
  box-shadow: 5px 5px 5px $col_shad;
}

@mixin liste_nav($color, $radius, $col_shad) {
  background-color: $color;
  border-radius: $radius;
  box-shadow: 5px 5px 5px $col_shad;
}

@mixin tablette {
  @media screen and (max-width: 1024px) {
    @content;
  }
}
